@media (min-width: 1024px) {
    #reviews-iframe {
        width: 24rem;
        height: 7rem;
        margin-bottom: .5rem;
        margin-left: .625rem;
    }
}
#reviews-iframe {
    position:fixed;
    height:7rem;
    width:24rem;
    max-width:100%;
    bottom: 0;
    left: 0;
    z-index:99999999999;
    display:block;

}

#reviews-iframe.open {
    width: 35rem;
    height: 12rem;
}